<!DOCTYPE html>
<html>
<head>
    <title>Video Player</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Video</h1>
        <video id="fs-video-player"controls>
            <source src="<%= url %>" type="video/mp4">
        </video>

        <!-- TEST CONTROLS
        <button id="play-btn">play</button>
        <button id="pause-btn">pause</button>
        <button id="volume-up">up</button>
        <button id="volume-down">down</button>
        -->

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/javascripts/socket.io.js"></script>
<script type='text/javascript' src='/javascripts/video-script.js'></script>
</html>
